.edit-form__field-name {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-top: 54px;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.edit-form__field-name:focus {
    outline: none;
}

@media screen and (max-width: 520px) {
    .edit-form__field-name {
        margin-top: 75px;
    }
}