.profile__name-subline {
    margin: 16px 0 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    color: #fff;
    display: block;
}

@media screen and (max-width: 768px) {
    .profile__name-subline {
        margin-top: 14px;
        font-size: 14px;
        line-height: 17px;
    }
}