.profile__name-subline {
    margin: 16px 0 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    color: #fff;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 340px;
}

@media screen and (max-width: 768px) {
    .profile__name-subline {
        margin-top: 14px;
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 520px) {
    .profile__name-subline {
        max-width: 188px;
    }
}